.p-card {
  background: $panelContentBg;
  color: $panelContentTextColor;
  box-shadow: $cardShadow;
  border-radius: $borderRadius;
  display: flex;
  flex-direction: column;

  .p-card-body {
    padding: $cardBodyPaddingMb;
    display: flex;
    flex-direction: column;
    flex: 1;

    @media screen and (min-width: 768px) {
      padding: $cardBodyPadding;
    }
  }

  .p-card-title {
    font-size: $cardTitleFontSize;
    font-weight: $cardTitleFontWeight;
    margin-bottom: 0;
    color: var(--primary);
    font-size: 1.25rem;

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    @media screen and (min-width: 768px) {
      margin-bottom: $inlineSpacing;
    }
  }

  .p-card-subtitle {
    font-weight: $cardSubTitleFontWeight;
    margin-bottom: $inlineSpacing;
    color: $cardSubTitleColor;
  }

  .p-card-content {
    padding: $cardContentPaddingMb;
    flex: 1;
    @media screen and (min-width: 768px) {
      padding: $cardContentPadding;
    }
  }

  .p-card-footer {
    padding: $cardFooterPadding;
  }
}
